<div style="text-align: center;">
    <h1>Welcome to °°TD</h1>

    <br>
    <br>

    <h4>We are an easy-to-use and efficient daily outfit recommendation app! Using real-time weather information, we give you the best OOTD suggestions!</h4>

    <br>
    <br>

    <h2>Feed</h2>

    <br>

    <div>
        <%= image_tag(ActionController::Base.helpers.asset_path("image1.jpeg"), :size =>"350x500") %>
    </div>

    <br>
    
    <div>
        <%= image_tag(ActionController::Base.helpers.asset_path("image2.jpeg"), :size =>"350x500") %>
    </div> 

    <br>

    <div>
        <%= image_tag(ActionController::Base.helpers.asset_path("image3.jpeg"), :size =>"350x500") %>
    </div>

    <br>

    <div>
        <%= image_tag(ActionController::Base.helpers.asset_path("image4.jpeg"), :size =>"350x500") %>
    </div>

    <br>

    <div>
        <%= image_tag(ActionController::Base.helpers.asset_path("image5.jpeg"), :size =>"350x500") %>
    </div>

    <br>

    <div>
        <%= image_tag(ActionController::Base.helpers.asset_path("moderatelycold.jpeg"), :size =>"350x500") %>
    </div>

    <br>

    <div>
        <%= image_tag(ActionController::Base.helpers.asset_path("verycold.jpeg"), :size =>"350x500") %>
    </div>

</div>
