<!DOCTYPE html>
<html>
  <head>
    <title>Finalproj493</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="width: 100%; height: 5vw;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active <%=is_active('welcome/index')%>">
        <a class="nav-link" href="/welcome/index">Home</a>
      </li>
      <li class="nav-item <%=is_active('ootd')%>">
        <a class="nav-link" href="/ootd">OOTD</a>
      </li>
      <li class="nav-item <%=is_active('account')%>">
        <a class="nav-link" href="/account">Account</a>
      </li>
      <!--
      <li class="nav-item <%=is_active('login')%>">
        <a class="nav-link" href="/login">Login</a>
      </li>
      -->
    </ul>
    </nav>

    <br>
    <br>




    <%= yield %>
  </body>
</html>
